@font-face {
    font-family: Archivo;
    src: url(sources/fonts/Archivo/woff2/Archivo-SemiBold.woff2);
}

@font-face {
    font-family: ArchivoItalic;
    src: url(sources/fonts/Archivo/woff2/Archivo-SemiBoldItalic.woff2);
}

@font-face {
    font-family: TimesRoman;
    src: url(sources/fonts/Times-Roman/woff2/OPTITimes-Roman.woff2);
}

@font-face {
    font-family: TimesRomanItalic;
    src: url(sources/fonts/Times-Roman/woff2/OPTITimesRoman-Italic.woff2);
}

body {
    background-color: rgb(47, 47, 47);
    color: rgb(245, 242, 242);
}

h1 {
    font-family: Archivo;
}

h2 {
    font-family: Archivo;
}

h3 {
    font-family: Archivo;
}

h4 {
    font-family: Archivo;
}

h5 {
    font-family: Archivo;
}

h6 {
    font-family: Archivo;
}

p {
    font-family: TimesRoman;
}


.terminal {
    font-family: 'Courier New', Courier, monospace;
}


i {
    font-family: TimesRomanItalic;
}

i.header {
    font-family: ArchivoItalic;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.opensourceimage {
    height: 40px;
    width: 38.75px;
}
