@font-face {
    font-family: Archivo;
    src: url(sources/fonts/Archivo/woff2/Archivo-SemiBold.woff2);
}

@font-face {
    font-family: ArchivoItalic;
    src: url(sources/fonts/Archivo/woff2/Archivo-SemiBoldItalic.woff2);
}

@font-face {
    font-family: TimesRoman;
    src: url(sources/fonts/Times-Roman/woff2/OPTITimes-Roman.woff2);
}

@font-face {
    font-family: TimesRomanItalic;
    src: url(sources/fonts/Times-Roman/woff2/OPTITimesRoman-Italic.woff2);
}

@font-face {
    font-family: CyrillicGaramond;
    src: url(sources/fonts/EBGaramond/EBGaramond-Regular.woff2);
}

body {
    background-color: rgb(47, 47, 47);
    color: rgb(245, 242, 242);
    margin: 0 0 0 0;
}

h1 {
    font-family: Archivo;
}

h2 {
    font-family: Archivo;
}

h3 {
    font-family: Archivo;
}

h4 {
    font-family: Archivo;
}

h5 {
    font-family: Archivo;
}

h6 {
    font-family: Archivo;
}

p {
    font-family: TimesRoman;
}

.nav {
    background-color: rgb(37, 37, 37);
    top: 0;
    height: max-content;
    width: 100%;
    padding: 1px 0 1px 0;
}

.navhref {
    color: white;
    text-decoration-color: rgba(0, 0, 0, 0);
}

#godown{
    height: 60px;
}

.cyrillic {
    font-family: CyrillicGaramond;
    padding-top: 68.425px;
}

.logo {
    color: rgb(0, 192, 255);
    width: fit-content;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    margin-top: 4ch;
}